# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

# example config postgres in docker
# docker run --name postgres -p 5432:5432 -v /tmp/database:/var/lib/postgresql/data -e POSTGRES_PASSWORD=docker -d postgres
# dbeaver -> create postgres connection -> (host:localhost user:postgres password:docker) -> create database esports;
DATABASE_URL="postgresql://postgres:docker@localhost:5432/esports?schema=public"